body {
    /*          background: #222 url('./img/background.jpg') center center no-repeat;*/
    height: 100%;
    min-height: 600px;
    background-color: #fafafa;
    overflow-y: scroll;
}

.container {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 22rem;
    padding: 0.5rem;
}

.jumbotron {
    margin-top: 2rem;
    padding: 2rem 2rem 4rem 2rem;
    background-color: #d5dadc;
}

#cover {
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.bg-faded {
    background-color: #d5dadc;
}

.btn {
    margin: 2px;
    min-width: 300px;
    border: solid 0.5px;
}

.breadcrumb {
    background-color: #e6e9ea;
}


/* if the page is sm */

@media (max-width: 576px) {
    .btn {
        min-width: 100%;
    }
}


/* if the page is md */

@media (max-width: 768px) {
    .xs-container {
        width: inherit;
    }
}


/* if the page is md */

@media (min-width: 769px) {
    .table-responsive {
        display: inherit;
    }
}

link:hover {
    color: red;
}

.navbar {
    padding: 0rem 2rem 0rem 2rem;
}

.logout-navbar {
    min-width: 0px;
    color: #333333;
    border-color: #333333;
}

.logout-home {
    min-width: 300px;
    color: #333333;
    border-color: #333333;
}

.logout-navbar:hover {
    color: white;
    background-color: #333333;
    border-color: #333333;
}

.logout-home:hover {
    color: white;
    background-color: #333333;
    border-color: #333333;
}