<!DOCTYPE html>

 <html lang="en">
  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="./bower_components/tether/dist/css/tether.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="./css/mystyle.css">
    
    

  </head>

  <body style="background-color: #eceeef;">
    
    <section id="cover">


    <div class="container" style="">

        <div style="background-color: #eceeef; border: rgb(62, 125, 132) 0.5px solid; display:inline-block; padding: 10px;">

            <div style="text-align: center; margin-top: 1.5rem;">
                <a href="http://www.communityhelpersproject.com/">
                    <img class="img-thumbnail" style="border: 2px solid #025aa5;" src="./img/logo.jpg" width="200" title="Click here to go to webpage">
                </a>
            </div>

            <form class="form-signin" method="post" action=".?next={{ redirect_to }}">

<!--                 -->
                <h3 class="form-signin-heading" style="color: rgb(26, 22, 43); margin-top: 2rem;">Welcome to Community Helpers Toronto</h3>
                <legend>Please sign in</legend>

                <div class="" style="display: none;">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Oops!</strong> Something is wrong with your user/password.
                    </div>
                </div>

                <input type="text" id="username" name="username" class="form-control" value="" placeholder="Type your login or e-mail" required autofocus><br />

                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

                <input class="btn btn-primary btn-block" style="margin-top: 20px;" type="submit" value="Sign in"><br /> First time? Click <b><a style="margin-top: 20px;" href="">here</a></b><br /><br />

                <a style="margin-top: 20px;" href="" role="button">Forgot my password</a><br /><br />

                <a style="margin-top: 20px;" href="" role="button">Privacy Policy</a><br />


            </form>

        </div>




    </div> <!-- /container -->
    
    
    
    </section>
    
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



  </body>
</html>
